@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .abs-center {
    @apply absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%];
  }

  .container {
    @apply w-11/12 md:w-10/12 lg:w-9/12 mx-auto;
  }

  .section {
    @apply relative w-full mt-32 mx-auto;
  }

  html {
    @apply text-text_light;
  }

  ::-webkit-scrollbar {
    @apply w-1 h-[5px];
  }

  /* Track */
  ::-webkit-scrollbar-track {
    @apply bg-background_dark;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-primary rounded-[50px];
  }

  .bg-theme {
    @apply bg-background_light dark:bg-background_dark;
  }

  .text-theme {
    @apply text-text_light dark:text-text_dark;
  }

  .border-theme {
    @apply border border-light dark:border-dark;
  }
  .full-theme {
    @apply bg-background_light dark:bg-background_dark text-text_light dark:text-text_dark border border-light dark:border-dark;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-primary);
}

li {
  list-style: none;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  direction: rtl;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
  /* font-family: var(--font-secondary); */
}

select {
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
  padding-right: 5px;
}

/* .tag-item {
  background-color: rgb(218, 216, 216);
  display: inline-block;
  padding: 0.5em 0.75em;
  border-radius: 20px;
}
.tag-item .close {
  height: 20px;
  width: 20px;
  background-color: rgb(48, 48, 48);
  color: #fff;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.5em;
  font-size: 18px;
  cursor: pointer;
}

.tags-input {
  flex-grow: 1;
  padding: 0.5em 0;
  border: none;
  outline: none;
} */